<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.puskin.frankenstein">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".FrankensteinApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Home" />
        <activity
            android:name=".examples.ExampleHub"
            android:label="@string/examples_hub" />
        <activity android:name=".examples.DrawerActivity" />
        <activity
            android:name=".activities.LogIn"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Register"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activities.DoctorList" />
        <activity android:name=".activities.PillReminder" />
        <activity android:name=".activities.Locations" />
        <activity android:name=".activities.ClinicActivity" />
        <activity android:name=".activities.LaboratoryTests" />
        <activity android:name=".activities.AppointmentList" />
        <activity android:name=".activities.AppointmentCreator" />
        <activity android:name=".activities.AddAlarm"></activity>
    </application>

</manifest>
