<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.puskin.frankenstein">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".FrankensteinApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".examples.ExampleHub"
            android:label="@string/examples_hub"
            android:screenOrientation="portrait" />
        <activity
            android:name=".examples.DrawerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LogIn"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.DoctorList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PillReminder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Locations"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ClinicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LaboratoryTests"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AppointmentList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AppointmentCreator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddAlarm"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service
            android:name=".AlarmService"
            android:exported="false" />

        <receiver android:name=".AlarmReceiver" />

        <activity
            android:name=".activities.AlarmActivity"
            android:screenOrientation="sensorPortrait"
            android:showOnLockScreen="true" />
        <activity android:name=".activities.TreatmentList"></activity>
    </application>

</manifest>
